body {
    font: 13px/1.618 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

footer, header, main, nav {
    display: block;
}

dd, dl, dt, li, ol, ul {
    margin: .3em 0 0;
}

    dt + dd {
        margin: 0;
    }

main > * {
    margin: 1em 0 1em 1.5em;
}

h1, h2, h3, main nav {
    margin: 1.5em 0 1em;
}

code, pre {
    font: 1em Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code, pre, th {
    background: #FAFAFA;
}

pre {
    padding: 1em;
    white-space: pre-wrap;
}

pre, th {
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

code {
    display: inline-block;
    padding: .1em .3em;
    border: 1px solid #EAEAEA;
}

blockquote, dd, ol, ul {
    padding: 0 0 0 2em;
}

cite, dt {
    font-style: italic;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em auto;
}

th, td {
    padding: .3em 1em;
}

th {
    font-weight: 500;
}

.admonition {
    border: 1px solid #EAEAEA;
    border-left: .5em solid #0071BC;
    padding: 0 1em;
}

    .admonition > * {
        margin: 0.5em 0;
    }

.admonition-title {
    font-weight: bold;
}

header, footer {
    font-size: smaller;
}

    header li {
        display: inline;
    }

footer {
    margin: 2em 0 4em;
}

    footer, footer a, footer a:visited {
        color: #CCC;
    }

nav ol, nav ul {
    list-style: none;
}

nav > ol, nav > ul {
    padding: 0;
}

nav > ul {
    margin: 1em 0 1em 1.5em;
}

@media print {
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    a, a:visited {
        color: #000;
        text-decoration: underline;
    }
}

@media screen {

    html {
        width: 100%;
        height: 100%;
    }

    body {
        color: #333;
        background: #FFF;
        max-width: 50em;
        min-height: 100%;
        margin: 0 auto;
        padding: 0 1em;
        overflow-wrap: break-word;
        overflow-y: scroll;
    }

    header:before {
        content: '';
        display: block;
        background: url(nsec.svg) center no-repeat;
        background-size: contain;
        height: 8em;
        margin: 2em 0;
    }

    pre[data-lang]:before {
        content: attr(data-lang);
        color: #AAA;
        float: right;
        display: inline-block;
        margin: -.5em;
        padding: .1em .3em;
        background: white;
        border: 1px solid #EAEAEA;
    }

    .c {
        color: #AAA;
    }

    .s {
        font-style: italic;
    }

    a, .k {
        color: #0071BC;
        text-decoration: none;
    }

        a:active, a:hover {
            text-decoration: underline;
        }
}

@media screen and (min-width:30em) {
    body {
        font-size: 14px;
        padding: 0 2em;
    }

    header:before {
        height: 10em;
        margin: 3em 0;
    }
}

@media screen and (min-width:40em) {
    body {
        font-size: 15px;
        padding: 0 3em;
    }

    header:before {
        height: 12em;
        margin: 4em 0;
    }
}
