body {
    font: 13px/1.618 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

footer, header, main, nav {
    display: block;
}

dd, dl, dt, li, ol, ul {
    margin: .3em 0 0;
}

    dt + dd {
        margin: 0;
    }

main > * {
    margin: 1em 0 1em 1.5em;
}

main > nav {
    text-indent: -1.5em;
}

h1, h2, h3 {
    margin: 1.5em 0 1em !important;
}

code, pre {
    font: 1em Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

code, pre, table {
    background: #FDFDFD;
    border: 0 solid #F0F0F0;
    border-collapse: collapse;
    border-spacing: 0;
}

pre {
    border-width: 0 0 0 .5em;
    padding: 1em;
}

code {
    border-width: 1px;
    display: inline-block;
    padding: .1em .3em;
}

blockquote, dd, ol, ul {
    padding: 0 0 0 2em;
}

cite, dt {
    font-style: italic;
}

table {
    border-width: .5em 0;
    margin: 1em auto;
}

th, td {
    padding: .2em 1em;
}

.admonition {
    background: #FBFDFF;
    border-left: .5em solid #0071BC;
    padding: .5em 1em;
}

    .admonition > * {
        margin: 0.5em 0;
    }

.admonition-title {
    font-weight: bold;
}

header, footer {
    font-size: smaller;
}

    header li {
        display: inline;
    }

footer {
    padding: 1em 0;
}

    footer, footer a, footer a:visited {
        color: #CCC;
    }

nav ol, nav ul {
    list-style: none;
}

nav > ol, nav > ul {
    padding: 0;
}

nav > ul {
    margin: 1em 0 1em 1.5em;
}

.icon {
    width: 18px;
    height: 18px;
    display: inline-block;
}

.icons {
    float: right;
}

    .icons .icon {
        margin: 0 0 0 .5em;
    }

.github-icon {
    background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23444'%3E%3Cpath d='M12 .3C5.37.3 0 5.67 0 12.3c0 5.3 3.44 9.8 8.2 11.38.6.12.83-.26.83-.57 0-.28 0-1.03-.02-2.03-3.33.72-4.03-1.6-4.03-1.6-.55-1.4-1.34-1.77-1.34-1.77-1.08-.74.1-.73.1-.73 1.2.1 1.83 1.24 1.83 1.24 1.07 1.84 2.8 1.3 3.5 1 .1-.77.4-1.3.75-1.6-2.66-.3-5.46-1.33-5.46-5.93 0-1.3.47-2.38 1.24-3.22-.14-.3-.54-1.52.1-3.18 0 0 1-.32 3.3 1.23.96-.26 1.98-.4 3-.4s2.04.14 3 .4c2.28-1.55 3.3-1.23 3.3-1.23.63 1.66.23 2.88.1 3.18.77.84 1.24 1.9 1.24 3.22 0 4.6-2.8 5.63-5.48 5.92.42.35.8 1.1.8 2.2v3.3c0 .3.2.7.82.57C20.56 22.1 24 17.6 24 12.3c0-6.63-5.37-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

.nuget-icon {
    background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-29 -22 352 342' fill='%23444'%3E%3Ccircle cx='9' cy='15.8' r='33.1'/%3E%3Cpath d='M222.3 25.7H121.4c-51.2 0-92.6 41.3-94.2 94.2v100.8c0 52.9 43 94.2 94.2 94.2h100.8c52.9 0 94.2-43 94.2-94.2V119.9c.1-52.9-42.9-94.2-94.1-94.2zm-120.7 119c-19.2 0-34.7-15.5-34.7-34.7s15.5-34.7 34.7-34.7 34.7 15.5 34.7 34.7-15.5 34.7-34.7 34.7zM214 281.9c-33.8 0-61.2-27.4-61.2-61.2 0-33.8 27.4-61.2 61.2-61.2 33.8 0 61.2 27.4 61.2 61.2 0 33.8-27.4 61.2-61.2 61.2z'/%3E%3C/svg%3E") no-repeat;
}

.checkmark-icon {
    background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'%3E%3Ccircle cx='25' cy='25' r='23' fill='%23444'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-width='7' d='M13 27l7 7m0 0l16-16'/%3E%3C/svg%3E") no-repeat;
}

@media print {
    h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    a, a:visited {
        color: #000;
        text-decoration: underline;
    }
}

@media screen {

    html {
        width: 100%;
        height: 100%;
    }

    body {
        color: #333;
        background: #FFF;
        max-width: 50em;
        min-height: 100%;
        margin: 0 auto;
        font-size: 15px;
        padding: 0 1em;
        overflow-wrap: break-word;
        overflow-y: scroll;
    }

    header {
        padding-top: 1px;
    }

        header:before {
            content: '';
            display: block;
            background: url(nsec.svg) center no-repeat;
            background-size: contain;
            height: 10em;
            margin: 2em;
        }

    pre {
        overflow-wrap: normal;
        overflow-x: auto;
    }

    pre[data-lang]:before {
        content: attr(data-lang);
        color: #CCC;
        float: right;
        display: inline-block;
        margin: -.5em;
        padding: .1em .3em;
        background: white;
        border: 1px solid #F0F0F0;
    }

    .c {
        color: #AAA;
    }

    .s {
        font-style: italic;
    }

    a, .k {
        color: #0071BC;
        text-decoration: none;
    }

        a:active, a:hover {
            text-decoration: underline;
        }
}

@media screen and (min-width:30em) {
    body {
        padding: 0 2em;
    }

    header:before {
        height: 11em;
        margin: 3em;
    }
}

@media screen and (min-width:40em) {
    body {
        padding: 0 3em;
    }

    header:before {
        height: 12em;
        margin: 4em;
    }
}
